[2015-03-09 13:05] warpech opened #1 "The images are not saved correctly"
Tested with People app - the drag and drop feature works, but clicking Save in People app does not save the image.

[2015-04-05 09:52] miyconst opened #2 "Add confirm dialog before image deleted"

[2015-04-05 09:53] miyconst opened #3 "Add possibility to select file, not only drag & drop"

[2015-04-05 09:57] miyconst opened #4 "Image editing does not work"
Images page allows to click on an image:
http://localhost:8080/Images

After click opens another page:
http://localhost:8080/Images/image/
The page is blank.

There should be *Edit* button which opens image details page.

[2015-04-05 09:57] miyconst opened #5 "Rework image app to use bootstrap styles"

[2015-04-05 10:07] miyconst opened #6 "Error saving image on person page"
Steps to reproduce:

1. Start Launcher, People, Images app.
2. Open a person details page.
3. Upload an image by dragging an image to drop area.
4. Wait till image upload ends.
5. Hover image and press button *Save*.
6. Scroll down and try to save person.

[code]

[2015-04-05 13:10] andwah commented on #3
Just a little note,It is also possible to paste (CTRL+V) an image.

[2015-04-07 09:37] miyconst commented on #3
@andwah how should it works? I could not create an image by CTRL + V, also can't paste an image of the People/Person page.

[2015-04-07 12:22] andwah commented on #3
I have not tested to paste an image for a long time, maybe it stopped working..

i think you need to copy the image data into the clipboard (not to reference/path to the image).

btw, this functionallity is in the ```<juicy-filedrop>``` element https://github.com/Juicy/juicy-filedrop

[2015-04-07 14:30] miyconst commented on #6
Duplicate of https://github.com/Polyjuice/Images/issues/1

[2015-04-07 14:35] #1 closed

[2015-04-07 14:35] #6 closed

[2015-04-07 15:56] miyconst opened #7 "<juicy-filedrop> demo no longer in working state"
http://juicy.github.io/juicy-filedrop/

[code]

[2015-04-07 15:58] miyconst commented on #3
@andwah I have added possibility to select files, not only Drag & Drop, should I also update
https://github.com/Juicy/juicy-filedrop repo?

[2015-04-07 16:43] #2 closed

[2015-04-07 17:04] miyconst opened #8 "Unable to upload big images"
I could not upload images with size ~4mb.
The POST request just fails.

If there is some restriction then it should be visible for user.
Also some nice message like: *This file is too big* would be nice.

[2015-04-07 17:26] miyconst opened #9 "Add nice massage for wrong files"
There is no action if user selects/drops a file with wrong type.
Should be a nice message like: *This type of file is not supported*.

[2015-04-07 17:31] miyconst commented on #4
Done.

https://github.com/Polyjuice/Images/commit/8f98320ce6828c9ddb89827ca9cf187828afd98e
https://github.com/Polyjuice/Images/commit/07db4be6f14c9af8f2a0e182c653f65d06439365

[2015-04-07 17:31] #4 closed

[2015-04-07 17:42] miyconst opened #10 "Images application logic"
## Question 1
An `Illustration` is a relation between:
- `Something` - a person for example.
- `Content` - an object with url to an image.

In the Images app we use `Illustration` and when a new row created `Something` and `Content` are blank. Those objects will live in database forever, which is not correct. Should we let user create such objects and how/when remove them?

## Question 2
Should we

[2015-04-07 17:44] miyconst opened #11 "Put in order files in the project"
Once we agreed on the polyjuice project structure the Images app should be reorganized, it is really messy right now.

[2015-04-07 18:44] andwah commented on #3
do you think it's better to create a new element that "wrapps" the juicy-filedrop element that has the "select file" function?

[2015-04-08 11:38] miyconst commented on #3
@andwah I think it is better to wrap everything inside juicy-filedrop element. I could not imagine a website or a webpage where only file drag & drop without file selecting would be needed.

Anyway it is very easy to disable the `select file` feature, if someone really wants to.

[2015-04-08 15:27] andwah commented on #3
one case can be if you have two (or more) drop zones on a page and you move images between them,, then you dont need a "select file" feature..

[2015-04-08 15:27] andwah commented on #3
but in that case we may have a flag that disables that feature..

[2015-04-08 16:56] miyconst commented on #3
So, should I merge it to `juicy-filedrop`?

[2015-04-08 17:35] miyconst commented on #9
Currently HTTP 200 status code means that the file was successfully uploaded. And the response status code is broken, see the issue: https://github.com/Starcounter/Starcounter/issues/2653

So, I either have to rework entire mechanism or wait till the response status code is fixed.

[2015-04-08 18:25] miyconst commented on #8
There is a new `MaxFileSize` property in juicy-filedrop. If selected/dropped file exceeds max size, then alert appears.

The alert should be replaced with some nice dialog, for example Polymer/paper-dialog, but I did not want to add the dependency.

[2015-04-08 18:26] miyconst commented on #5
Done.

[2015-04-08 18:26] #5 closed

[2015-04-08 18:49] miyconst commented on #9
Added client side file type check.

[2015-04-10 09:08] miyconst commented on #9
Response status code works now, server side file type check also fixed.

[2015-04-10 09:08] #9 closed

[2015-04-10 10:17] miyconst commented on #3
Merged to `juicy-filedrop` repo.
https://github.com/Juicy/juicy-filedrop/commit/599463a35d4719e00725250f09ccf3324a5713dc

[2015-04-10 10:17] #3 closed

[2015-04-10 10:17] miyconst commented on #7
Fixed in: https://github.com/Juicy/juicy-filedrop/commit/599463a35d4719e00725250f09ccf3324a5713dc

[2015-04-10 10:17] #7 closed

[2015-04-13 16:33] miyconst opened #12 "Delete physical image file"
The physical image file should be deleted when image updated or removed.

[2015-04-13 16:41] miyconst opened #13 "Unable to upload or select file with unicode characters in name"
[code]

[2015-04-13 17:16] miyconst commented on #12
Now files are being deleted when:
1. Illustration being deleted.
2. Illustration file being replaced.

Files will stay when:
1. User drags different files into same are without saving the object.

After dropping/selecting a file it will be uploaded and saved automatically. Server remembers only one *oldImageUrl* which will be removed on save, all other files will stay. Still need some improvements

[2015-04-13 17:16] #11 closed

[2015-04-13 17:16] miyconst commented on #11
Done in https://github.com/Polyjuice/Images/commit/5024a7f83be660f6902b3c4437c3cb935dbc6a0d.

[2015-04-17 09:09] warpech commented on #11
Thanks!

[2015-04-17 09:10] miyconst commented on #11
A reply to test repolepsy.

[2015-04-28 13:45] warpech opened #14 "Scale images down/up to the available container space"
Images app should scale rendered image down if they are resized with layout editor.

I propose to use a `div` with `background-size: cover` for that, instead of `img`. This gives the best scaling & cropping for minimum effort: http://codepen.io/herihehe/pen/aLwGt

[2015-04-29 08:08] mtornwall commented on #14
+1

[2015-04-29 09:31] miyconst commented on #14
Image now scalable to parent's container, but the problem is initial size.

To scale image I have to set:

[code]

Before layout editor styles applied `width: 100%` is full screen width, this looks ugly.

The next css resizes image to full screen width and then crop 10px from center, looks ugly.
[code]

This one resizes image to full screen width and displays entire image, also looks ugly.
[code]

[2015-04-29 11:21] mtornwall commented on #14
Also, the file drop area should scale so that it is as large as the image. Otherwise you get an unpleasant effect where the size appears to change when you add an image.

[2015-04-29 13:57] warpech commented on #14
About the initial size, I think `min-height: 10px` is fine until we find a better solution

[2015-04-29 14:29] mtornwall opened #15 ""Embed" the save/clear controls inside the image container?"
Right now the "Save" and "Clear" buttons occupy some space below the image. I think it would look nicer (and the layout would be easier to edit) if the buttons were instead overlaid on top of the image in some corner (hover to show?).

[2015-04-29 14:48] miyconst commented on #14
@mtornwall drop file area now resizes to parent's size as well. Thanks for the suggestion.

[2015-04-29 15:56] warpech commented on #15
I agree

[2015-04-29 15:58] warpech commented on #14
@miyconst could you close this issue then and make a new one about the problem with initial size? It can be fixed in future, but is not a priority

[2015-04-29 15:59] warpech commented on #13
This is a client-side issue, right? Approved for fixing

[2015-04-29 16:00] warpech commented on #12
Can this be finished?

[2015-04-29 16:06] miyconst commented on #12
Yes.

[2015-04-29 16:10] miyconst opened #16 "Set default image size to it's actual size"
https://github.com/Polyjuice/Images/issues/14

[2015-04-29 16:10] #14 closed

[2015-04-29 16:31] miyconst commented on #12
Now all old files will be removed after image saved, but the files will keep staying if user closes page without saving data.

Need answer for this issue to finish: https://github.com/Starcounter/Starcounter/issues/2697

[2015-04-29 17:37] warpech commented on #16
Can we confirm what is the problem and what is the desired solution.

Current state: For the mapped data, Images app returns a `<div><img></div>` which is fully resizable to fit in the dimensions imposed by the layout editor.

Current problem: For the default dimensions of a layout tile (width 100%, height auto), the image would not appear at all, so we needed to specify `min-height: 10px` for the

[2015-04-29 18:43] tomalec commented on #16
LGTM

I'd like to note that juicy tiles applies styles to a shadow DOM tile, not
to the div from an app. Also, `heightAuto` is in fact 'pre-calculate height'
29 kwi 2015 19:37 "Marcin Warpechowski" <notifications@github.com>
napisał(a):

[2015-04-29 18:59] miyconst commented on #16
Currently Images app return
[code]

Both divs have style:

[code]

The styles needed to fit parent's size. The empty div has no height and full screen width, this is the problem.

If I use `img` instead of second `div` then by default image has width of full screen and proportional height, which may take entire screen.

[2015-04-29 19:15] #13 closed

[2015-05-13 11:45] warpech opened #17 "Remove Platform from dependencies"
This project contains "platform" in https://github.com/Polyjuice/Images/tree/master/src/Images/wwwroot/sys.

Plaftorm (now called webcomponents.js) should only be loaded from Starcounter installation directory.

[2015-05-14 20:11] #17 closed

[2015-05-22 12:39] miyconst commented on #12
Because no one was able to tell me how to execute some action when user left page, I used another approach.

Now old files, which don't have `Content` object in database will be deleted on `Images` app startup. This is prbably better, because even working `SessionEnd` or `PageLeave` event would not serve all of the situations. For exampe: user opens Images app, uploads a file and then server lost

[2015-05-22 12:39] #12 closed

[2015-06-05 23:10] #15 closed

[2015-06-15 11:00] miyconst commented on #8
Closing this issue, the file size is currently checked on client side (and server side, of course).

[2015-06-15 11:00] #8 closed

[2015-06-18 07:30] warpech opened #18 "Seam carving"
Let's admit that Images app is cool, but not as cool as it could be.

If the only purpose of this application is to store & present images, it should offer the world's top features available in image presenting.

[Seam carving](https://en.wikipedia.org/wiki/Seam_carving) is such a feature. Adding this would let us explain more clearly why would someone compose their suite from great small apps.

J

[2015-06-18 08:27] warpech opened #19 "Gradient fill"
Sometimes, there are images that cannot be cropped nor resized using seam carving (#18) - such as people faces, architectural details, product images, etc.

In this case there is another technique that lets us fill the padding outside of the image: calculating aproximate color or gradient and using this as the outer background color.

JavaScript library that does it: http://gradifycss.com/

Think

[2015-06-18 11:18] warpech commented on #19
A different thing - finding prominent colors. Quite opposite to finding ambient colors, but still worth knowing: http://jariz.github.io/vibrant.js/

[2015-07-24 07:22] miyconst opened #20 "Status code: 1011. Reason: Property 'AllowedMimeTypes' is readonly."
Error on image edit/create page.

[2015-08-01 06:45] #20 closed

[2015-12-18 11:05] warpech opened #21 "Media folder is not created in the correct path"
The media folder is created next to the .exe file:

![image](https://cloud.githubusercontent.com/assets/566463/11895467/35baeaaa-a57f-11e5-8b18-10074d1aed9b.png)

For the app store apps, it should be as a child directory of `../content`

The same problem happens locally:

![image](https://cloud.githubusercontent.com/assets/566463/11895499/871f9f3a-a57f-11e5-9526-728c98cb5843.png)

For the local ap

[2015-12-18 11:06] warpech commented on #21
@per-samuelsson could this be related to recent changes with static folder bootstrapping?

The Images app now does not show images neither when installed from the app store or started locally.

[2015-12-18 15:35] andwah commented on #21
Changed the way uploaded fiels is saved, they are now saved under a folder named \UploadedFiles in the root of the starcounter installation. This was done so images survives an app upgrade.

[2015-12-21 10:14] miyconst commented on #10
The Images app survived that long without any of those changes. Closing the issue as outdated.

[2015-12-21 10:14] #10 closed

[2016-01-12 08:02] warpech opened #22 "Update the usage of puppet-redirect"
Switch to be using the new path `/sys/puppet-redirect/puppet-redirect.html`.

Please release a new version when done.

[2016-03-31 13:03] warpech commented on #22
Do this after Starcounter 2.2 stable is released, because previous stable (2.1.177) uses a different path.

[2016-04-11 09:02] ubbeK opened #23 "Images application wants to reload new images for IE and Edge"
The investigation from [Products issue 6](https://github.com/StarcounterSamples/Products/issues/6) led to the conclusion that IE and Edge wants to reload the image when editing a product in Procucts-application.

Reproduction sequence:

1. Load applications: Launcher + Barcodes + Images + Products
2. Add an image and use it in a product, save
3. Open Products and edit the newly added product -> IE

[2016-04-11 09:29] miyconst commented on #23
Some explanation:

IE and Edge opens open file dialog which is caused by [juicy-filedrop](https://github.com/Juicy/juicy-filedrop). Should be fixed.

You can record gif images and embed into GtiHub instead of using dropbox for sharing an `mp4`. http://www.cockos.com/licecap/

[2016-04-14 12:57] warpech opened #24 "Apply BEM to Images's private CSS"
This app contains globally applied CSS rules in stylesheets:
- https://github.com/StarcounterSamples/Images/blob/b43bd368926e0b20e0d211a1b7ac6c1753a7d835/src/Images/wwwroot/Images/css/standalone.css

It also contains inline CSS in HTML templates:
- https://github.com/StarcounterSamples/Images/blob/master/src/Images/wwwroot/Images/viewmodels/ImagesPage.html
- https://github.com/StarcounterSamples/I

[2016-04-16 15:57] warpech opened #25 "Change maximum upload file size to 10 MB"
I am playing with using Images with a smartphone.

It is cool, because a Android and iOS let you shoot picture with camera when you tap on `<input type="file>`. But the camera photos are larger than 1 MB, which is the current size limit of Images.

Ideally, maximum upload file size should be configurable.

[2016-04-16 15:59] warpech opened #26 "File upload dialog does not show up in Firefox"
Clicking on "Or select file" does not work in Firefox. Tested with Images 3.0.5

[2016-04-16 16:00] warpech commented on #26
Drag and drop upload works ok in Firefox, though

[2016-04-16 16:15] warpech commented on #21
From what I see, the files are now being saved at `C:\UploadedFiles`.

Anyway, the original problem is fixed.

[2016-04-16 16:15] #21 closed

[2016-04-16 16:16] warpech opened #27 "Add Settings page"
Add Settings page (visible after clicking on Launcher's "cog" icon) with settings that make sense for current features of Images:

- Upload folder path
- Maximum file size

Related: https://github.com/StarcounterSamples/Images/issues/25

[2016-04-16 16:34] warpech commented on #25
I suppose this requires changing the file upload mechanism to use WebSocket instead of HTTP POST. (presented here: https://github.com/StarcounterSamples/KitchenSink/blob/master/src/KitchenSink/wwwroot/KitchenSink/FileUploadPage.html)

Can you confirm, @miyconst?

Btw. did you ever consider using chunked HTTP (`Content-Range`) uploading instead of WebSocket? http://creativejs.com/tutorials/advanced

[2016-04-16 16:52] miyconst commented on #25
Yes. Right now maximum request length is 4mb and everything over should be send over websocket.

Sending chunks over HTTP is a possible solution and I worked on it a bit, but did not finish.

[2016-04-17 20:06] aloscha commented on #26
@warpech maybe we will add test for upload dialog?

[2016-04-20 09:18] warpech commented on #26
I am fixing the problem. Adding the test is a good idea, though it is one of the hardest things to test

[2016-04-20 10:38] warpech commented on #23
Fixed. Actually the problem was in `so-juicy-filedrop` (see the comment in code)

[2016-04-20 10:38] #23 closed

[2016-04-20 10:39] warpech opened #28 "Add test for file upload"
Add Selenium test for file upload

[2016-04-20 10:39] warpech commented on #26
Fixed. I have created a separate issue for adding tests: #28

[2016-04-20 10:40] warpech commented on #26
In result of this issue I have refactored `juicy-filedrop` a bit. Now it does not require `iron-ajax`

[2016-04-21 15:48] warpech opened #29 "Replace Images' default layouts in SQL import with `juicy-style` layout hints"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/10

------

Currently, Images contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/Images/blob/master/src/Images/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent information in form of `juicy-style` layout hints.

[2016-04-27 13:39] aloscha commented on #26
@warpech there are some design bug on master after your changes (that issue).
Before your changes - "11 February 2016 15:12:10 - Fix puppet-redirect url - Konstantin" it looks:

![image](https://cloud.githubusercontent.com/assets/5141943/14853988/145ba18a-0c8e-11e6-9d6f-0cc4664e82a0.png)

After your changes - "20 April 2016 12:30:06 - upgrade juicy-filedrop (https://github.com/StarcounterSamples/I

[2016-04-28 09:46] aloscha commented on #26
I get new version of Juicy-filedrop and after update it inside sys folder, everything works. Please recheck and update juicy inside project.

[2016-05-02 12:12] aloscha commented on #25
Could you @warpech review current task on branch: Change_maximum_file_size_#25

[2016-05-03 12:11] #22 closed

[2016-05-03 15:02] aloscha commented on #27
Could you @warpech review current version:
- Simplified (branch Add-settings-page_#27: https://github.com/StarcounterSamples/Simplified/tree/Add-settings-page_%2327)
- Images (branch Add-settings-page_#27: https://github.com/StarcounterSamples/Images/tree/Add-settings-page_%2327)

[2016-05-05 13:37] warpech commented on #22
Looking good, thanks.

[2016-05-09 10:44] aloscha commented on #26
I take that bug.

[2016-05-10 09:33] warpech commented on #27
I have only a few comments:

1. **Simplified:** The application is called `Images`, so the folder should be renamed to `Images` and the class to `ImagesSettings`.

2. **Images:** I have changed the upload folder path, but the application doesn't switch to use it. Could you please retest?

3. **Images.**: The word "Please" doesn't make sense in the settings form:
<img width="665" alt="screen shot 2

[2016-05-10 10:23] aloscha commented on #27
Fixed all comments.

Maybe instead of textbox use Browse Bootstrap - https://jsfiddle.net/jasny/vtGxm/?

[2016-05-10 12:06] warpech commented on #25
I just tried to review it but it doesn't work. Tried with current Launcher and Starcounter 2.2.1.2069. Could you please take a look again?

[2016-05-10 12:11] warpech commented on #27
The settings page has nothing to do with `input type="file"`, and the jsFiddle you provided is about replacing a file upload. Is this the correct issue?

Templates of sample apps should use the simplest HTML5 possible. And we do use Bootstrap to style the inputs. That's what the `class="form-control"` attribute is for.

[2016-05-10 12:17] warpech commented on #27
Please fix typo in Images code: `RegiserSharedFolder` -> `RegisterSharedFolder `

@miyconst could you please provide a second pair of eyes for the review? If we are happy then this can be the reference for Settings pages in other apps.

[2016-05-10 12:33] miyconst commented on #27
There are some points here and there I think should be improved, but current solution is good enough to merge.

The main points is that the mapped handlers should not be accessible from the outside world. Means `"/images/settings"` should be a partial and `SelfOnly`.

[2016-05-10 12:43] warpech commented on #27
Great! @aloscha please add `SelfOnly` flag to it and merge to master.

[2016-05-10 13:57] aloscha commented on #27
Add evewrything and merged to master. I close issue.

[2016-05-10 13:57] #27 closed

[2016-05-10 15:38] aloscha commented on #25
Yeah there are problem, that socket return 1006 on close.

[2016-05-11 12:39] aloscha commented on #26
Ok I know why it's happens. @warpech when you upload `juicy-upload` you remove `paper-dialog` (propably because it's not occur in bowej.json). I add paper-dialog to that file and retrieve removes files.

[2016-05-11 12:39] #26 closed

[2016-05-13 21:09] aloscha opened #30 "The image thumbnail is a link that goes to an empty page"
Images. In the chat message, the image thumbnail is a link that goes to an empty page. It should go to a page that displays a big image.

It's also occur in normaln image application

[2016-05-13 21:14] aloscha commented on #25
@warpech that issue is blocked by https://github.com/StarcounterSamples/KitchenSink/issues/38
After that issue will resolve, I could make changes inside that project.

Also maybe I create juicy-socket-filedrop component?

[2016-05-15 16:04] aloscha commented on #25
@warpech could you review it again (please download latest nightly version). Since issue in KitchenSink is resolved (https://github.com/StarcounterSamples/KitchenSink/issues/38) that also will be fix.

[2016-05-20 14:44] warpech commented on #25
I just tried Launcher + Products + Images and it doesn't work :(

See the below recording:

![bug](https://cloud.githubusercontent.com/assets/566463/15431425/16c49a2a-1eaa-11e6-99ea-6f63a53acb2a.gif)

[2016-05-21 00:09] aloscha commented on #25
I think it could be error from SC

[2016-05-21 21:43] aloscha commented on #25
I've fix that error and merge measter into current branch.

[2016-05-21 21:57] aloscha commented on #25
I've fixed some bugs, occurs after merged master into current branch.

About @warpech bugs, could you @alemoi look at that bug inside StarCounter. To reproduce that please use:
- https://github.com/StarcounterSamples/Products
- https://github.com/StarcounterSamples/Images/tree/Change_maximum_file_size_%2325
- https://github.com/StarcounterPrefabs/Launcher

[2016-05-21 22:18] aloscha commented on #25
@warpech I've fix that bug. Unfortunately I forgot that juicy-file-drop occurs in two viewmodels and I only passed sessionId only in images, not in combined apps.

@alemoi I can't get stacktrace, but in that configuration I've get sessionId='undefined' and that gives 1011 error.

[2016-05-23 13:17] warpech commented on #25
I found some new problem. Using Starcounter 2.2.1.2221

Clicking on the "Clear" button results in an error:

[code]

Screen:

![bug](https://cloud.githubusercontent.com/assets/566463/15472050/6d1ddf98-20f9-11e6-8387-97a43c43bfe2.gif)

[2016-05-23 14:04] aloscha opened #31 "Images doesn't show inside Products application"
It's happened because there are no html properties.

To reproduce please lunch products app + images app

[2016-05-23 15:16] aloscha opened #32 "Paper-dialog doesn't work with Images + Luncher"
After running Images + Luncher please delete image. After backgrop nothing shows.

[2016-05-24 08:44] warpech commented on #25
Works good! Please merge

[2016-05-25 09:52] #25 closed

[2016-06-06 16:05] warpech opened #33 "Change `@w` to `{?}` in UriMapping handlers"
Since Starcounter 2.2, `{?}` should be used instead of `@w` in `OntologyMap` according to the [release notes](http://starcounter.io/starcounter-2-2-release-notes/).

[2016-06-17 10:27] aloscha opened #34 "After removing RegisterMap() application doesn't work properly"
Base on rule that application must works without any maps, chatter should be fixed.

Thanks @ubbeK for good eye - https://github.com/StarcounterSamples/Chatter/issues/17

[2016-06-24 16:21] warpech opened #35 "Remove dom-bind-notifier, no longer needed"

[2016-06-27 00:35] aloscha commented on #35
Fixed

[2016-06-27 00:36] #35 closed

[2016-08-09 15:50] warpech opened #36 "Do not hardcode Bootswatch Paper theme"
This project has a direct reference to `/sys/bootswatch/paper/bootstrap.css`.

It should not load that file directly. instead, it should load `<link rel="import" href="/sys/bootstrap.html">`, which can be overridden by a custom Launcher.

See https://github.com/StarcounterPrefabs/UserAdmin/issues/15

[2016-08-17 16:23] warpech commented on #29
This issue is obsolete. We are migrating from `juicy-style` to `juicy-composition`. A new task will be created.

[2016-08-19 15:08] Mnosek commented on #24
Also in PreviewPage.html the class `chatter-img-thumbnail`should be renamed according to application name.

[2016-08-23 08:21] warpech opened #38 "Replace Image's default layouts in SQL import with `template is="starcounter-composition"`"
This is a clone of the task https://github.com/StarcounterSamples/Products/issues/18

------

Currently, Images contains default layout information that comes as an SQL import (https://github.com/StarcounterSamples/Images/blob/master/src/Images/Content/default-layout.sql). Remove that SQL file and the helper class that uses it.

Provide equivalent layout in form of `template is="starcounter-compos

[2016-08-23 18:57] warpech commented on #29
A new issue was created: https://github.com/StarcounterPrefabs/Images/issues/38

[2016-08-23 18:57] #29 closed

[2016-08-23 20:01] warpech commented on #36
Done

[2016-08-23 20:01] #36 closed

[2016-08-23 20:38] warpech commented on #38
Done

[2016-08-23 20:38] #38 closed

[2016-09-13 10:25] jwillmer opened #41 "Change upload size limit from Byte to MB"
Have you tried to set a 10MB file size limit?

If I use Google for the calculation I get:
![calc](https://cloud.githubusercontent.com/assets/1503577/18470463/4fb538f6-79b5-11e6-9cd0-a445c6dc3cd0.png)

Have fun adding this ;)

[2016-09-16 08:41] warpech opened #43 "Replace the usage of the Page class with middleware"
Please replace the usage of the Page class with middleware, since the Page class is obsolete (see Starcounter/Starcounter#3202). The instructions are in the blog post: http://starcounter.io/replace-page-partial-classes-middleware/

[2016-09-16 09:02] warpech commented on #31
Works fine now, must have meet fixed with other fixes

[2016-09-16 09:02] #31 closed

[2016-09-16 11:33] warpech opened #44 "Cannot upload files when KitchenSink is running"
### Steps to reproduce

Try uploading the image using the file select or drag'n'drop when both Images and KitchenSink is running.

### Expected result

The image should get uploaded using WebSocket.

### Actual result

There is an error in console: `Could not find correct socket to handle the incoming data. (1003)`

### Technical information

##### Starcounter version 2.2.1.3180

##### Involved ap

[2016-09-16 11:33] warpech commented on #44
@diliger could you pls take a look?

[2016-09-16 13:50] warpech opened #45 "There should not be a "Paper" icon in the thumbnails list until an image is uploaded"
### Steps to reproduce

1. Run Products and Images
2. Go to a product page
3. Click on "Image +" button multiple times

### Expected result

If you click on the "Image +" button, you should go to a view of adding a new image. At this point, no "Paper" icon should be added to the left menu, because the `Illustration` should not be commited yet.

The `Illustration` should be commited only after the

[2016-09-22 11:09] warpech commented on #45
@diliger, when you fix an issue please always either:

- close the issue
- create a PR and assign it for someone

So we don't end up with outdated issues open for a long time.

Thanks!

[2016-09-22 11:09] #45 closed

[2016-09-22 11:10] warpech commented on #44
@diliger, when you fix an issue please always either:

- close the issue
- create a PR and assign it for someone

So we don't end up with outdated issues open for a long time.

Thanks!

[2016-09-22 11:10] #44 closed

[2016-09-22 11:39] warpech commented on #41
Fixed in #46, waits for merging.

[2016-09-22 12:03] warpech opened #47 "Images app does not work with Chatter anymore"
### Steps to reproduce

1. Run Launcher `develop` + Images `develop` + Chatter `master`
2. Click on "Chatter" in the left menu
3. On the chatrooms list, create a chatroom or click on existing one
4. Scroll down and press "+ Image" button to upload an image

### Expected result

The partial should allow you to upload an image.

### Actual result

Nothing changes after clicking "+ Image"

### Techni

[2016-09-22 12:08] warpech opened #48 "Replace the "+ Image" icon"
### Steps to reproduce

1. Go to the "Images" app partial that show the image carousel
2. Check how the "Image" icon looks like

### Expected result

The icon should look like designed in https://github.com/Starcounter/EpicDemo/blob/master/Screenshots/Individual.png

![screen shot 2016-09-22 at 14 07 47](https://cloud.githubusercontent.com/assets/566463/18747499/ff1b1a08-80cd-11e6-9c54-1fdda76d00d

[2016-09-22 12:15] warpech opened #49 "Change and document the architecture of the partials"
The architecture of the Images app has drifted into 2 different directions recently, and became unmergable. There is:
- `develop` branch with the new carousel view and video upload support -- all added to existing partials
- `SweOffshore-Checklist-UriMapping` branch with mobile view -- created as new partials

Because of this, the two branches became unmergable. We need to find a way to fix this.

[2016-09-22 12:19] warpech opened #50 "Replace juicy-filedrop with starcounter-upload"
Right now the file [`juicy-filedrop.html`](https://github.com/StarcounterPrefabs/Images/blob/develop/src/Images/wwwroot/Images/elements/so-juicy-filedrop/juicy-filedrop.html) pretends to be https://github.com/juicy/juicy-filedrop.

But actually it is a very modified fork of it, that looks closer to https://github.com/Starcounter/starcounter-upload

We need to add missing features to https://github

[2016-09-22 12:22] aloscha commented on #50
Should I increase starcounter-upload with files extension?

[2016-09-22 12:57] warpech commented on #50
There are more differences than that. This needs to be done after #49, so that it is certain what changes are needed.

cc @miyconst

[2016-09-28 14:25] warpech commented on #41
Fixed in `SweOffshore-Checklist-UriMapping` branch. Thanks for the contribution!

[2016-09-28 14:25] #41 closed

[2016-09-30 11:06] warpech commented on #49
I totally didn't manage to do this. I would like all of the 4 mappable partials to be described as in this template:

https://github.com/StarcounterPrefabs/Images/blob/e5ff800400725e5aeae037a5466d2f0549c223c4/README.md#get-imagespartialsconcept

If someone wants to take this over before Monday, this would be great. Otherwise, I will continue next week.

[2016-10-11 21:27] diliger commented on #48
done.

But button is wider to match the width of thumbnails
![image](https://cloud.githubusercontent.com/assets/15857369/19289266/9dfd91de-9012-11e6-9dc8-0d42447ae623.png)

[2016-10-11 21:27] #48 closed

[2016-10-19 00:37] warpech commented on #49
I have finished a sample partial documentation and merged it to `master`, because it is needed in HelloWorld.

For the purpose of this issue, we need to define the documentation for the other partials.

[2016-10-27 17:14] warpech commented on #49
Part of the work done by @diliger is now merged to `develop`. Now @aloscha it is your turn. Please feel free to do refactoring of things that you find odd. Please work on a separate branch and do a PR to `develop`.

[2016-10-27 17:30] warpech commented on #47
This was fixed by me today and merged to `develop` branch

[2016-10-27 17:30] #47 closed

[2016-10-27 17:31] warpech commented on #33
Done on `develop` branch

[2016-10-27 17:31] #33 closed

[2016-10-31 10:33] aloscha opened #52 "Edit/Delete doesn't work on Develop"
After I add few images I couldn't delete anything - delete button shows dialog, but no action there (after refresh the same).

The same problem with Edit button. I clicked it and nothing happens, just address changes but page still the same. If I try to refresh page manually I have NullReferenceException

[2016-10-31 10:38] aloscha opened #53 "Preview generates empty page"
After I complete list few some images, I have option to preview photo, by clicking on image.
![image](https://cloud.githubusercontent.com/assets/5141943/19851448/3833649a-9f5e-11e6-88df-cfed35585d37.png)
After click into image, address changes but page stay the same. So I try to refresh it and than have page
![image](https://cloud.githubusercontent.com/assets/5141943/19851495/86ef85fa-9f5e-11e6-81

[2016-10-31 10:43] aloscha opened #54 "Video support"
As we start to support video, we should have opportunity to add it from main view.
Now we don't have this opportunity

![image](https://cloud.githubusercontent.com/assets/5141943/19851624/2042c08c-9f5f-11e6-9272-0d0694652a30.png)

I think there should be button, add video or instead of Add Image should be Add media.
Also Video support should be clickable in Settings of app

[2016-10-31 10:52] aloscha opened #55 "Carousel view"
After we start support carousel view (it means we could see multiple images) we should have possibility to add mutliple images from basic app, for now it's unavailable - I could drop just one image.

[2016-10-31 10:53] aloscha commented on #49
Thanks @warpech, yesterday I fixed my stuff, today I will push changes etc. I've also create fiew bugs and enhancements for @diliger : https://github.com/StarcounterPrefabs/Images/issues/52, https://github.com/StarcounterPrefabs/Images/issues/53, https://github.com/StarcounterPrefabs/Images/issues/54, https://github.com/StarcounterPrefabs/Images/issues/55

[2016-11-07 17:16] warpech commented on #49
@aloscha what's the status of this?

[2016-11-07 17:35] aloscha commented on #49
I've merge SO branch with develop and resolve conflicts locally. Now I will fix some unused partial (I think I will manage it by the end of this weekend).

[2016-11-11 18:22] mmnosek opened #56 "Other apps files are deleted at Images startup"
At a test environment (one server) I have two databases running exactly the same set of apps. Images is obviously one of them. We've realised, that sometimes image and other files are missing, but without any specific pattern. I found out that at every application startup we execute this method:
https://github.com/StarcounterPrefabs/Images/blob/master/src/Images/Helpers/IllustrationHelper.cs#L82

[2016-11-14 16:13] warpech commented on #56
I totally agree that the app should not make a decision to delete all files in the directory. Please remove this feature and the helper method.

In future, we might add an admin page to manage files in the media files directory. But that would be a more complex feature, that would allow you to check what files are used.

Please test what happens when you try to upload a file with a name that alrea

[2016-11-14 16:16] warpech commented on #56
An afterthought: Just keep the helper method, but don't call it at the application startup. Bind it to a button on the Settings page instead.

[2016-11-16 14:58] bigwad opened #57 "compilation error with pnext"
Fails to compile after https://github.com/Starcounter/Starcounter/issues/3945 has been done.
I can fix it. Should I?
cc @miyconst

[2016-11-16 15:24] miyconst commented on #57
Yes, please fix it, if it is quick. Assign on me if it will take time.

[2016-11-16 15:24] bigwad commented on #57
Pushed the fix to master branch. Please reopen if something wrong.

[2016-11-16 15:24] #57 closed

[2016-11-17 16:49] diliger commented on #49
what branch can i use now?

[2016-11-17 16:50] diliger commented on #52
What page? Can you please attach a screenshot?

[2016-11-17 16:54] diliger commented on #54
do you mean I should add another option in settings to enable or disable videos in the app?

[2016-11-17 17:33] aloscha commented on #54
IMHO yes, like SupportVideo: yes/no
Because I get that we have partial for that, but If we can add that functionality for `free` why not

[2016-11-17 17:36] aloscha commented on #49
@diliger for your changes please use `Develop` branch

[2016-11-17 20:38] aloscha opened #59 "New view of Thumbnail"
Current view in edit mode presents more or less like that:
![image](https://cloud.githubusercontent.com/assets/5141943/20406462/bcb2dc66-ad0d-11e6-93bd-ae69eb714024.png)

My proposition (based on current working project) is something like that:
![image](https://cloud.githubusercontent.com/assets/5141943/20406538/012c997c-ad0e-11e6-8436-35674f7f4087.png)

We used that thumbnails in fileupload contr

[2016-11-21 00:45] aloscha commented on #49
I've create pr for @warpech with all changed, which I made in ImagesApp. I've also fix some bugs with preview and edit: https://github.com/StarcounterPrefabs/Images/issues/53 and https://github.com/StarcounterPrefabs/Images/issues/52

Also prepare solution for new partials and remove redundant ones. Also fix with SO.

[2016-11-23 14:00] aloscha commented on #59
up!

[2016-11-23 23:27] diliger commented on #59
is it about just view or logic as well?

[2016-11-23 23:28] diliger commented on #52
@aloscha is it fixed now?

[2016-11-24 11:31] aloscha commented on #59
This is just a view, maybe logic will be with downloading and nothing more.

[2016-11-29 12:50] warpech commented on #59
@diliger I am unassigning you because it is not clear what to change

[2016-11-29 13:02] warpech commented on #59
Just discussed this with @aloscha to decide what this proposal is about.

The proposal is about `ContentPage.html` but the screenshot is made of `EditableContentPage.html`, which is misleading.

The proposal is **not** to remove "Select", "Save" and "Cancel" buttons. The proposal is to **add** "File name", "File size" and "Download" button to ContentPage.html.

This should be done in "starcounter-

[2016-11-29 13:03] warpech commented on #56
PR #58 merged to `develop`. Thanks!

[2016-11-29 13:03] #56 closed

[2016-11-29 14:03] aloscha commented on #59
Agreed from my side.

[2016-12-01 17:13] warpech commented on #52
@aloscha what's the status of this one? Please make sure that you inform on GitHub what's your intention. Right now there are two commits created by you despite the issue was self-assigned by @diliger.

[2016-12-13 16:56] tomalec opened #61 "Rewrite juicy-carousel to starcounter-composition"
It seems that `<juicy-carousel>` https://github.com/StarcounterPrefabs/Images/blob/develop/src/Images/wwwroot/Images/elements/juicy-carousel/juicy-carousel.html
has no special functionality and it's just HTML structure and set of CSS rules applied in shadow DOM.

If we want just declarative Shadow DOM. plus improve performance (get rid of CE & HTML Import overhead),  code clarity and blending. `st

[2016-12-29 15:08] warpech commented on #43
@diliger could you please take this? This is the same kind of task as https://github.com/StarcounterPrefabs/UserAdmin/issues/33

[2017-01-10 13:02] warpech commented on #52
@aloscha ping

[2017-01-10 14:06] diliger commented on #43
PR #64

[2017-01-10 15:01] aloscha commented on #52
I fix that issue by my own and I think in pr you already check it

[2017-01-16 14:02] diliger commented on #43
Done.

[2017-01-16 14:02] #43 closed

[2017-01-16 14:37] aloscha commented on #61
https://github.com/StarcounterPrefabs/Images/pull/62

@diliger up?

[2017-01-23 13:19] aloscha commented on #54
@diliger
I think we should provide settings - enable media control - on/off
And if on, we have button `add video` with providing adding video

[2017-01-23 13:19] aloscha commented on #53
Fixed in https://github.com/StarcounterPrefabs/Images/pull/60

[2017-01-23 13:20] #53 closed

[2017-01-23 13:20] aloscha commented on #52
Fixed in https://github.com/StarcounterPrefabs/Images/pull/60

[2017-01-23 13:20] #52 closed

[2017-01-23 13:23] aloscha commented on #19
Do you think we should making simple photoshop from the ImagesApp?

[2017-01-23 13:25] aloscha commented on #49
It's fixed here - https://github.com/StarcounterPrefabs/Images/pull/60

[2017-01-23 13:25] #49 closed

[2017-01-23 13:29] aloscha commented on #34
Test image app on new develop, without mapping - works as a charm.

[2017-01-23 13:29] #34 closed

[2017-01-23 13:29] aloscha commented on #50
@diliger the #49 is now closed. Can you do it now?

[2017-01-23 13:38] warpech commented on #28
This should be first tested in KitchenSink - https://github.com/StarcounterSamples/KitchenSink/issues/85

[2017-01-23 13:44] aloscha commented on #32
Checked with new version of launcher. Works as a charm.

[2017-01-23 13:44] #32 closed

[2017-01-24 11:33] warpech commented on #19
This is a very long term goal. The purpose of Starcounter prefabs is to prove that a "best-of-breed" Images app can provide an out of the box functionality that is better that what you would do within few days.

I just reported this issue as an example of such feature.

[2017-01-24 11:34] warpech commented on #18
This is a very long term goal. The purpose of Starcounter prefabs is to prove that a "best-of-breed" Images app can provide an out of the box functionality that is better that what you would do within few days.

I just reported this issue as an example of such feature.

[2017-01-24 11:34] warpech commented on #50
@diliger is now busy with Launcher/Website improvements, so this will have to wait.

[2017-01-24 11:38] warpech opened #65 "Generate thumbnails"
Right now, Images app sends the original image even when you want to display a small icon-size version of it.

We should apply some URL parameter to dictate the desired image size.

Inspiration how to do this with URL params:

- Amazon has it: https://spontaneousderivation.com/2008/11/16/fooling-around-with-amazon-images/
- PHPThumb has it: http://phpthumb.sourceforge.net/demo/demo/phpThumb.demo.d

[2017-01-24 13:55] KmaTTi89 commented on #28
Done in https://github.com/StarcounterSamples/KitchenSink/pull/83

[2017-01-24 14:02] warpech commented on #28
Let's get back to this in February, when we are adding tests to sample apps.

[2017-01-26 08:06] threezool opened #66 "Null Reference Exception in ConceptPage.json.cs"
### Steps to reproduce
Followed the tutorial and on step 8 (Mapper app for Images) when starting the app i get a Null Referenser Exception on line 18 in ConceptPage.json.cs.

Tried to run it both thru the app warehouse and clone the project with same result. Running the projects i used Visual Studio 2015 Community and started them both by letting Visual studio start them in order by setting it up

[2017-01-27 10:40] warpech commented on #66
Thanks for reporting. Can you please paste the full stack trace that you get? It should be available in Starcounter Administrator > Log

[2017-01-27 12:17] diliger commented on #61
can be closed now?

[2017-01-30 12:10] tomalec commented on #61
Please see https://github.com/StarcounterPrefabs/Images/pull/62#pullrequestreview-19066665

[2017-01-31 20:43] warpech commented on #61
Issues cannot be closed until PRs that implement them are merged

[2017-01-31 23:30] mmnosek commented on #24
+1, we need it in SWO project.

[2017-02-01 11:04] mmnosek commented on #66
Please check if #68 does not fix it.

[2017-02-01 11:38] mmnosek opened #69 "Remove unused files"
Some files are not included into project but still exists in the repo. I think that we don't need them anymore. Some examples:
- ConceptIllustrationPage.json.cs
- PreviewPage.json

etc. Easy to discover using Visual Studio

cc @aloscha

[2017-02-01 12:30] aloscha commented on #69
yeah agreed, should be removed

[2017-02-01 13:21] aloscha commented on #66
I'm pretty sure that #68 and #67 fixed the problem

[2017-02-06 11:22] aloscha commented on #61
Done (https://github.com/StarcounterPrefabs/Images/pull/62)

[2017-02-06 11:22] #61 closed

[2017-02-06 11:25] aloscha commented on #28
@warpech for me it should ba made as path (integration test):
1. User click new image
2. User upload image
3. User cancel image
4. User upload image again
5. User save image
6. User go to edit image
7. User cancel image
8. User upload new image
9. User save image
10. User delete new image

[2017-02-06 15:10] mmnosek commented on #69
Changes in #70 Thanks a lot @aloscha!

[2017-02-06 15:10] #69 closed

[2017-02-07 12:30] threezool commented on #66
Did another pass and this time with the Develop branch instead of the warehouse version and i still get a exception at line 18 in ConceptPage.json.cs.

Here is the complete stack trace:

   at Images.ConceptPage.OnData() in C:\Users\three\Documents\Visual Studio 2015\Projects\Starcounter Prefabs\Images\src\Images\ViewModels\ConceptPage.json.cs:line 18
   at Starcounter.Internal.TransactionManager.

[2017-02-07 13:01] threezool commented on #66
Updated the tutorial code to match the changes to the develop branch and it now works.

[2017-02-07 13:01] #66 closed

[2017-02-07 13:21] aloscha commented on #66
Yeah in https://docs.starcounter.io/tutorial/mapper-app-for-images/ we have `/images/partials/concept/`, now we don't use the concept anymore but `content` or `illustration-edit`.

[2017-02-23 12:24] Mackiovello opened #72 "Adapt view to Declarative Shadow DOM"
According to https://github.com/Starcounter/RebelsLounge/issues/59

Follow the guidelines in the following three posts to adapt the views to use Declarative Shadow DOM:

* [Layout compositions for HTML partials](https://starcounter.io/layout-compositions-html-partials/)
* [How to Apply New Shadow DOM Layouts to Existing HTML Templates](https://starcounter.io/making-apps-blendable/)
* [HTML View Gu

[2017-02-24 08:52] warpech commented on #54
@diliger, can this issue be closed now?

[2017-02-24 08:52] warpech commented on #55
@diliger, can this issue be closed now?

[2017-02-24 09:05] aloscha commented on #55
This working only if someone used partial. I think `Carousel view` should be possible get from standalone app.

[2017-02-25 10:17] diliger commented on #55
@warpech, should I improve the `juicy-filedrop` element to accept multiple file drop?

[2017-02-25 10:25] diliger commented on #54
@warpech, no, it requires some rework, do you confirm the idea @aloscha described?

[2017-03-03 15:28] warpech commented on #54
I don't understand it fully. Isn't it that right now, drag and drop as well as file upload button support both images and videos upload in all partials?

[2017-03-03 15:29] warpech commented on #54
I don't think that a global setting "support videos" makes sense. In the complete system I might want to use videos in one context, videos and images in another context, and only images in 3rd context.

[2017-03-03 15:39] aloscha commented on #54
Sorry guys, it works like I want, but have few mistakes

1. Clear button doesn't work
![image](https://cloud.githubusercontent.com/assets/5141943/23557291/e5e594e6-002f-11e7-9a6d-04e632bbb39e.png)

2. Add 'Image' is a bit confusing. Maybe renaming it into `Media`

[2017-03-03 15:54] aloscha commented on #55
I think it will be cool. If you add mutliple files than you have carousel view, if just one you'll have just one image/media.

IMHO:
1. Improve juicy-filedrop to handle multiple files (what if one of them will be image and one will be video? Does we support that situation? @warpech )
2. After added couple images we should have carousel view

[2017-03-10 14:27] warpech commented on #55
Then how do you add the second image?

By dragging a new image on top of the existing image? I think that should replace the existing image, not add a new one.

---

I think that thinking of `/images/partials/somethings/{Something ObjectID}` as a **carousel view** is wrong.

We should think of it a collection of illustrations of something.

Carousel is just a single view, but we can add more views

[2017-03-10 15:05] aloscha commented on #55
If you add from disk couple images at the same time. (I mean selected few images in dialog)

[2017-03-10 16:09] warpech commented on #55
But let's say you have added an image yesterday and now you want to add a second one. Where is the "Add new image" button then, if there is no carousel?

[2017-03-11 14:30] aloscha commented on #55
Agreed. So maybe let's add button - `Add another button` (and multi adding should be available from settings) WDYT?

[2017-03-16 16:10] warpech opened #75 "Use uniform batch scripts"
Use uniform batch scripts as presented in https://starcounter.gitbooks.io/guidelines/content/batch-files.html

Discussion: https://github.com/Starcounter/Guidelines/issues/6

[2017-03-17 09:58] warpech commented on #75
According to the discussion linked above, `make.bat` and `restart.bat` should be removed.

[2017-03-17 12:32] warpech commented on #75
Some projects output the exe files to `./bin/Debug` instead of `./src/<appname>/bin/Debug`.

The latter form is expected (see https://starcounter.gitbooks.io/guidelines/content/project_structure.html)

If this solution does not output the exe files to the desired paths (both in msbuild and in VS), please fix that immediately too.

[2017-03-20 13:06] warpech opened #76 "Configure continous integration on TeamCity"
The project should have a similar job to KitchenSink in TeamCity.

Part of: https://github.com/Starcounter/AdminTrack/issues/261

[2017-03-22 08:45] Mackiovello commented on #75
Fixed in 	c1de942

[2017-03-22 09:14] KmaTTi89 commented on #76
Done

[2017-03-22 09:14] #76 closed

[2017-03-22 11:38] warpech commented on #55
I don't think it is a matter of global settings. This a matter of uri mapping.

- If you want one image, map the partial in your app to `/images/partials/somethings-single-edit/{Something ObjectID}` (**which does not exist now**)
- If you want one or more images, map the partial in your app to `/images/partials/somethings-edit/{Something ObjectID}`

[2017-03-22 11:39] warpech opened #78 "Clear button doesn't work"
@aloscha reports in https://github.com/StarcounterApps/Images/issues/54#issuecomment-283986872:

![image](https://cloud.githubusercontent.com/assets/5141943/23557291/e5e594e6-002f-11e7-9a6d-04e632bbb39e.png)

[2017-03-22 11:44] warpech opened #79 "Change the text on "Add image" button"
@aloscha proposes in https://github.com/StarcounterApps/Images/issues/54#issuecomment-283986872:

I propose to rename the text on the button to "Add image or video"

This is the line: https://github.com/StarcounterApps/Images/blob/3761050dd8cbbe993de8426798a7f1a4512634c5/src/Images/wwwroot/Images/viewmodels/ImagesPage.html#L42

[2017-03-22 11:44] warpech commented on #54
Point 1 moved to a separate issue: https://github.com/StarcounterApps/Images/issues/78

Point 2 moved to a separate issue: https://github.com/StarcounterApps/Images/issues/79

[2017-03-22 11:44] #54 closed

[2017-03-23 11:01] KmaTTi89 commented on #75
Done in https://github.com/StarcounterApps/Images/pull/80

[2017-03-23 11:01] #75 closed

[2017-03-23 14:40] aloscha opened #82 "Cannot read property 'querySelector' of null"
Sometimes I've got error with ImageApp:
[code]
In that line:
`var img = template.parentElement.querySelector('.images-preview-image-dialog-image');`

I supposed it is because this app don't unplug event after template `deatached`
Also good idea is to check if `template.ParentElement` is null

The problem is with calculate size of lightbox in Content.html

[2017-03-23 14:43] warpech commented on #82
Can you give a link to the file that has this line?

[2017-03-23 14:46] aloscha commented on #82
https://github.com/StarcounterApps/Images/blob/master/src/Images/wwwroot/Images/viewmodels/ContentPage.html#L77

[2017-03-23 14:47] warpech commented on #82
Actually is there anything in this range of lines https://github.com/StarcounterApps/Images/blob/master/src/Images/wwwroot/Images/viewmodels/ContentPage.html#L76-L91 that could not be done with just CSS?

[2017-03-26 20:13] diliger commented on #24
PR #81

[2017-03-26 20:13] diliger commented on #78
PR #81

[2017-03-26 20:13] diliger commented on #79
PR #81

[2017-03-27 14:23] warpech opened #84 "Missing styles for Shadow DOM V1"
### Steps to reproduce

1. Start HelloWorld + Images + HelloWorldMapper
2. Add some expense and upload an image

### Expected result

The expense should be illustrated by a carousel of images in all supported web browsers

### Actual result

It looks ok in Firefox but not in Chrome

### Technical information

##### Starcounter version 2.3.0.6120

##### Involved apps' version

https://github.com/St

[2017-03-27 14:27] warpech opened #85 "The thumbnail image size is not set"
### Steps to reproduce

1. Start HelloWorld + Images + HelloWorldMapper
2. Add some expense and upload an image

### Expected result

The thumbnail size should fit in the thumbnails column.

### Actual result

The thumbnail is full size.

NOTE: This is not about scaling down of the images. It is only about setting the max dimensions in CSS. Scaling down is a separate issue: https://github.com/Star

[2017-03-27 15:06] warpech commented on #84
@tomalec suggests that this is everywhere where we are using `@import` in `<style>` and the imported stylesheet does not provide selectors using `::slotted()`

[2017-03-27 15:19] tomalec commented on #84
It's not only about `@import`.

Since
https://github.com/Juicy/juicy-composition/releases/tag/0.1.0
And since @alshakero added it to Starcounter
https://github.com/Starcounter/Level1/commit/42b001550bea1bc4b73030a7f48e68d8e71c5ba3

Partials uses Shadow DOM v1 if available. V0 sytnax is inert for V1 Shadow Roots, as we ll as V1 syntax is innert for V0 shadow roots, thank's to that boths APIs can li

[2017-03-29 17:02] aloscha opened #87 "Provide DisabledPage"
We should create another mapping for disabled editable page. I need to have something like that:

If no images inside: ![image](https://cloud.githubusercontent.com/assets/5141943/24466673/ff384e52-14b1-11e7-9896-b3078960f332.png)
If image inside:
There should be just image preview

@warpech WDYT?

[2017-03-30 12:25] mmnosek commented on #50
Guys, it can't wait that long. I've discovered that it's now impossible to upload an image if a page is loaded over `https`. Can we proceed somehow? :) `starcounter-upload` supports `https` while `juicy-filedrop` does not. I think that there is no reason to make separate issue and fix in `juicy-filedrop` if the plan is to replace it anyway.

[2017-03-30 14:19] aloscha commented on #50
I'll look at it on weekend or in beginning of next week.

[2017-03-31 10:37] warpech commented on #87
If you want just an image preview, then there already is a partial for that.

You just need a conditional map to show one or another partial, depending on your need.

[2017-04-07 13:09] mmnosek commented on #50
ping

[2017-04-13 10:26] aloscha commented on #87
Yes get it, but what about situation when I have no image and my control is disabled - if I present patrial there will be 'Illustration should has a content'

So imho I need some partial with disabled mode - EditContentPage

[2017-04-23 17:55] diliger commented on #24
Merged. Close.

[2017-04-23 17:55] #24 closed

[2017-04-23 17:56] diliger commented on #79
Merged.

[2017-04-23 17:56] diliger commented on #78
Merged.

[2017-04-24 10:07] warpech commented on #78
This is still not fixed. Steps to reproduce:

1. Start Images app
2. Go to http://localhost:8080/images
3. Press "Add image or video" at the bottom of the page
4. Upload an image
5. Press "Clear" button (once).

Works as expected in Chrome.

Fails in Edge and Firefox.

[2017-04-24 10:10] warpech commented on #79
Closing as fixed

[2017-04-24 10:10] #79 closed

[2017-04-26 15:58] warpech opened #95 "Uploading image that already has a file on disk results with an error"
### Steps to reproduce

1. Start Chatter and Images
2. Try to send the same image twice

### Expected result

It should save two copies of the same image

### Actual result

The second try gives an exception:

[code]

### Technical information

##### Starcounter version 2.3.0.6350

[2017-04-28 10:39] diliger commented on #78
All buttons click only with second click in FF, I can replace it with `onmousedown` as in **Chatter** app,
but is that a correct solution?

[2017-05-04 13:41] mmnosek commented on #50
Seems to be fixed. Closing.

[2017-05-04 13:41] #50 closed

[2017-05-05 11:03] warpech commented on #78
The correct solution is to follow the button patterns presented and tested in KitchenSink, which is the reference for data binding in all other apps.

So - yes :)

[2017-05-05 15:47] diliger commented on #78
PR #96

[2017-05-09 11:58] mmnosek opened #98 "Cannot upload an image when a page is loaded over https"
### Steps to reproduce
1. Run app that uses Images
2. Run Images
3. Load a page over https
4. Try to upload some image

### Expected result
Image is uploaded in the same way as by https

### Actual result
An image is not uploaded and an error in browser console occurs:
[code]

### Technical information
##### Starcounter version 2.3.0.6157
##### Images at 79890ac7 commit (current develop)

##### Br

[2017-05-10 16:05] Mackiovello commented on #72
This one seems to have been done by @tomalec. Closing

[2017-05-10 16:05] #72 closed

[2017-05-11 14:59] warpech commented on #98
@un-tone, could you pls investigate this? This is high priority now

[2017-05-15 19:05] un-tone commented on #98
This solution https://github.com/socketio/socket.io/issues/1942#issuecomment-82352072 must help with the issue. I checked it on my local machine.
Thanks @mmnosek for help

[2017-05-15 21:00] mmnosek commented on #98
Well, looks very promising but I can't make it work on my server. I've changed a config and now I got 500 error code in the console. @un-tone probably I'm missing something, could you please have a look at the config I've sent you and make adjustments? Thanks!

After that, we need also to include our solution here: https://docs.starcounter.io/guides/working-with-starcounter/using-https-on-nginx/ o

[2017-05-16 12:49] un-tone commented on #98
Please check this https://gist.github.com/un-tone/e0411dd6ba90f01c3e0bbac8b2c7d522

[2017-05-16 16:10] un-tone commented on #98
There is another issue https://github.com/Starcounter/starcounter-upload/issues/8

[2017-05-18 11:41] warpech commented on #78
Closing as done

[2017-05-18 11:41] #78 closed

[2017-05-19 18:52] un-tone commented on #98
The original issue is resolved. It remains only to add info to https://docs.starcounter.io/guides/working-with-starcounter/using-https-on-nginx/

[2017-05-26 09:32] warpech commented on #98
Thanks guys!

@mmnosek can you pls make a new issue in Starcounter/Docs and close this issue?

[2017-06-06 22:07] mmnosek commented on #98
All included here: https://github.com/Starcounter/Docs/issues/54 thanks @un-tone !

[2017-06-06 22:07] #98 closed

[2017-06-21 10:19] bouguila opened #102 "Blending recursive looping"
blending is getting into a recursive loop withing People app

### Steps to reproduce
1. Run following apps:
 . SignIn
 . People
 . Images
2. click on `Edit` for any existing person in People app.

### Expected result
only person partial handler should be invoked `("/people/partials/persons/{?}")`

### Actual result
organization handler is being invoked as well `("/people/partials/organizations/{?}

[2017-06-21 20:52] warpech commented on #102
Thank you for discovering the issue and a very good description. I believe that this needs a proper fix in `Blender.MapUri`. I have created an issue (linked above).

Anyway, I think that we can accept a workaround that will work with the current Starcounter.

[2017-06-22 13:06] alemoi commented on #102
Please specify which branches should be used and what Starcounter version.

[2017-06-22 13:29] alemoi commented on #102
Tried `master` on all 3 repos, with latest 2.3 Starcounter. When trying to go to http://127.0.0.1:8080/signin/user I get this in browser:
![image](https://user-images.githubusercontent.com/208134/27436459-a1778044-575f-11e7-89ad-a3a0fc38fcf7.png)

[2017-06-22 13:36] bouguila commented on #102
signIn - master
people - develop
images - develop
Starcounter version 2.3.0.6350

@alemoi i already merged the fix via a PR to Images app (on develop branch) so you might not get the error anymore

[2017-06-22 14:00] alemoi commented on #102
Thanks. Please provide this info next time, because I've spent some time trying develop and master. How can I reproduce the issue, if the fix is merged? Maybe I can get some branch of Images app?

[2017-06-22 14:23] bouguila commented on #102
@alemoi you can try with  Images - master, you still can reproduce the error there

[2017-06-22 14:57] alemoi commented on #102
As I see the Blending rules define the behavior. Here is the call sequence:
[code]

And here are the blending rules:
[code]

So, these rules are declaring the behavior, which is correct. Can you please explain what is the issue with this?

[2017-06-22 15:05] bouguila commented on #102
when we trigger /People/partials/person-edit/{?} ,  /People/partials/organization-edit/{?} is invoked as well causing a null reference exception

[2017-06-22 15:18] alemoi commented on #102
Haven't seen the null reference exception but invocation of /People/partials/organization-edit/{?} is according to the rules above. Do you get  null reference during the Self.GET /People/partials/person-edit/{?}?

[2017-06-22 15:50] bouguila commented on #102
You have to click on edit for an existing person and then hit the save button

[2017-06-22 20:00] alemoi commented on #102
Yes, I did that and everything worked fine without null ref exc. Maybe its because I'm using 2.3.1 and the bug was fixed already? @bouguila can you please test with latest 2.3.1? Thanks!

[2017-06-22 20:19] warpech commented on #102
Git allows to find the parent commit from the time before the merge. GitHub exposes this information nicely.

These are the commits from before the merge:

-
 https://github.com/StarcounterApps/SignIn/commit/8c10b2f1c716bade691a33beee5128cff2a33618
-
 https://github.com/StarcounterApps/People/commit/a675e2fd0457355549a31a83bfe2a813b8a7b04d
-
 https://github.com/StarcounterApps/Images/commit/6dfcfc

[2017-06-22 20:25] alemoi commented on #102
Yes, however I think the fix might be on Starcounter side between 2.3.0 and 2.3.1.x

[2017-06-22 21:46] alemoi commented on #102
Guys, I'm having troubles understanding the problem here. I just tried to reproduce the problem in 2.3.0.x but its the same behaviour as with 2.3.1. I click Edit on some person in People app and I get this screen:
![image](https://user-images.githubusercontent.com/208134/27457421-f676b192-57a4-11e7-8d97-1486020c0837.png)
- no infinite loop
- no null reference exception
- no errors in Chrome
- and

[2017-06-22 22:02] bouguila commented on #102
@alemoi The problem occurs when you hit Save

[2017-06-22 22:47] alemoi commented on #102
Great! Now I can finally get it. Will check tomorrow.

[2017-06-23 11:00] warpech opened #104 "Switching images does not work"
### Steps to reproduce

1. Start People `develop` branch, Images `develop` branch, SignIn `develop` branch
2. Go to http://localhost:8080/signin/generateadminuser to generate your admin user
3. Go to http://localhost:8080/signin/signinuser and sign in as admin/admin
4. Go to http://localhost:8080/people/persons and click on "Edit" button next to a person
5. Scroll down to add a new image for that

[2017-06-23 22:40] alemoi commented on #102
Thanks for the responses @bouguila The problem was identified: the blender was calling wrong handlers, of a different type with wrong object ID. For example, for person `FZ`:
[code]
I have produced a patch which is available this nightly. You can remove the fixes that you made temporary and check if everything works for you! Thank you!

[2017-06-25 21:04] alemoi commented on #102
I thought a lot about this on weekends and here is the deal.
The actual problem (that is exactly the same in this issue) can be described here:
[code]
So you see that both Person and Organization have images. Imagine now that `/images/partials/somethings-edit/{?}` is called containing Person as Id, let's say from `Self.GET`. Since we don't specify under which class, the `Self.GET` is made (Person

[2017-06-25 21:10] alemoi commented on #102
My proposal:
[code]

[2017-06-26 14:00] warpech commented on #102
We are back to square one, because mapping same URI to multiple types was considered a feature of `Blender.MapUri`. See https://github.com/Starcounter/RebelsLounge/issues/126#issuecomment-309975374 and the following comment

But I agree that it won't work without some solution to the ambiguity.

In case of reverting this, please make sure to throw an error when trying to map the same URI twice.

A

[2017-06-26 16:59] warpech opened #106 "Image resize and crop"
Image editing should include an in-browser tool for resizing and cropping of uploaded images. The best would be to keep the original image, too.

[2017-06-27 10:33] alemoi commented on #102
@warpech i am not reverting this actually, just my last "fix" that just limited the Blending traverse. So, no changes will be added.

[2017-06-27 23:23] alemoi commented on #102
@bouguila can you please provide an indication of recursive looping because maybe I missed something.

[2017-06-28 08:00] bouguila commented on #102
cc @miyconst may have a better explanation of this issue

[2017-06-28 08:22] miyconst commented on #102
I think, @bouguila has made a wrong description. There is no recursive loop, the blending works as expected, if multiple URIs are mapped to the same token, all of them are called if one is triggered.

[2017-06-28 10:26] alemoi commented on #102
Thanks! Then I think I will close the issue, because I literally made 0 fixes. Please be more careful with issue description next time.

[2017-06-28 10:26] #102 closed

[2017-07-02 15:34] Mihaiii commented on #104
Made PR #107 as a propose solution.

[2017-07-04 10:38] bouguila opened #108 "Implement new UI design"
Implement new user interface design base on the Grid layout to meet the design defined in the mockup presented in Starcounter/RebelsLounge#121

[2017-07-06 13:15] Mihaiii commented on #104
Closing as fixed.

[2017-07-06 13:15] #104 closed

[2017-07-27 15:32] warpech opened #113 "Add comments in code that explain the usage of the Authorization library"
As discussed in https://github.com/StarcounterApps/Website/issues/123, add comments in code that explain the usage of the [Authorization](https://github.com/Starcounter/authorization) library in this app.

[2017-07-31 19:06] un-tone commented on #113
Created PR https://github.com/StarcounterApps/Images/pull/115

[2017-08-07 08:41] warpech commented on #113
Quick Reply<sup>[?](https://github.com/warpech/QuickReply)</sup>: Closing as done.

[2017-08-07 08:41] #113 closed

[2017-08-14 10:46] #108 closed

[2017-09-19 13:10] Mihaiii opened #120 "Cannot read property 'model.IsMobile$' of undefined"
### Steps to reproduce
1. Run https://github.com/StarcounterApps/Images/commit/66109266f9c28244d2c63df75d0c41fd2ffb639c (current latest version on develop)
2. Go to `http://localhost:8080/images/image`
### Expected result
No error.
### Actual result
[code]
##### Starcounter version
2.3.1.7204

[2017-09-20 08:03] Mihaiii commented on #120
Closing as done.

[2017-09-20 08:03] #120 closed

[2017-09-20 13:47] PatrykSzwer opened #123 "Setting the default shown image."
There should be possibility to set default image to be shown first. When I'm entering my profile in people app I should be able to upload images and select which should be shown as default on. Currently default one is the one that was uploaded first.

[2017-10-09 12:55] Mihaiii opened #127 "Image doesn't resize in Firefox"
### Steps to reproduce
1. Run https://github.com/StarcounterApps/Images/commit/25a3695492dcc589f83ac8b6ac788d8c7708e8df (current latest version on `develop`)
2. Click "Add image or video"
3. Upload an Image and save it
4. On `/images` doesn't

### Expected result
On `/images` you should see the image resized.

##### Browsers affected

- [ ] Chrome
- [x] Firefox
- [x] Edge

### Screenshot
Firefox
<

[2017-10-09 13:00] Mihaiii opened #128 "Image isn't deleted"
### Steps to reproduce
### Steps to reproduce
1. Run https://github.com/StarcounterApps/Images/commit/25a3695492dcc589f83ac8b6ac788d8c7708e8df (current latest version on `develop`).
2. Click "Add image or video".
3. Upload an Image and save it.
4. From `/images` try to delete the uploaded image or any other image by clicking on "Delete".
5. Confirm (press "Accept").

### Expected result
Image is d

[2017-12-04 10:05] PatrykSzwer opened #137 "Images app won't start when WebsiteEditor is running"
Right now, It's impossible to run Images app along with WebsiteEditor since it will raise an error about missmatching versions of authorization library:
[code]

It's caused by our single codehost for apps. Solution right now will be to update library to current version.

[2017-12-04 11:08] PatrykSzwer commented on #137
Closing as done.

[2017-12-04 11:08] #137 closed

[2018-08-22 09:05] bouguila opened #148 "App not working"
- unable to start the app. (build is fine)
- unable to access the app from main endpoint `Images`  (seems like infinite recursive call)
- accessing via to `images/partials/images` and clickin `add` button will result on nothing other than appending `/images` to the URL (some clicks will result in such `images/partials/images/images/images/images/images/images/images/images/images...`)

### Steps t

[2018-08-22 09:08] bouguila commented on #148
ping @Mihaiii since you're the one who made latest changes to the app.
cc @habib535

[2018-08-22 09:26] bouguila commented on #148
@mihai i already mentioned the fix for the blender.json.
but what about the other issues? (check above on the issue description)

PS: it's better to test before merging so you won't catch any responsibility of code dysfunction

[2018-08-22 10:29] #148 closed